<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/Scripts/img/favicon.png">
    <link href="~/Scripts/style.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <div class="menu-bar" align="center">
        <a href="../Home/Index" class="menu-button">&nbsp;Home&nbsp;</a>
        <a href="../Home/Credits" class="menu-button">&nbsp;Credits&nbsp;</a>
        <a href="../Home/Impressum" class="menu-button">&nbsp;Impressum&nbsp;</a>
    </div>
</body>
</html>
