@{
    ViewBag.Title = "Game Chart";
}

<div align="center">
    <h1>GAME CHARTS - CREDITS</h1>
</div>


<div align="center">
    <h2>Created by</h2>
    <ul>
        <li>Benjamin D.</li>
        <li>Daniel M.</li>
        <li>Jonas H.</li>
        <li>Kevin H.</li>
        <li>Lukas K.</li>
        <li>Martin O.</li>
    </ul>

    <h2>Using</h2>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>XSL</li>
        <li>XML</li>
        <li>XSLT</li>
        <li>IGDB-API</li>
    </ul>

</div>
