@{
    ViewBag.Title = "Game Chart";
}

<div align="center">
    <h1>GAME CHARTS - IMPRESSUM</h1>
</div>

<div align="center" style="">
    <h2>Name und Anschrift</h2>
    <ul>
        <li>Gamecharts Corporation</li>
        <li>Erzberger Straße 121</li>
        <li>76133 Karlsruhe</li>
    </ul>

    <h2>Vorstand</h2>
    <ul>
        <li>Kevin Hewener</li>
    </ul>

    <h2>Telefon</h2>
    <ul>
        <li>+49 173 8558410</li>
    </ul>
    <h2>E-Mail</h2>
    <ul>
        <li>
            <a href="mailto:hewi1997@t-online.de" target="_top">hewi1997@t-online.de</a>
        </li>
    </ul>



</div>


