<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<meta charset="utf-8"/>
<title>GameCharts Impressum</title>

</head>

<body>
		<div align="center">
			<h1>Game charts - Impressum</h1>
		</div>

		<div align="center" style="">
			<h2>Name und Anschrift</h2>
			<ul>
				<li>Gamecharts Corporation</li>
				<li>Erzberger Straße 121</li>
				<li>76133 Karlsruhe</li>
			</ul>

			<h2>Vorstand</h2>
			<ul>
				<li>Kevin Hewener</li>
			</ul>

			<h2>Telefon</h2>
			<ul>
				<li>+49 173 8558410</li>
			</ul>
			<h2>E-Mail</h2>
			<ul>
				<li><a href="mailto:hewi1997@t-online.de" target="_top">hewi1997@t-online.de</a>
				</li>
			</ul>



		</div>

		<div class="menu-bar" align="center">
			<a href="index.html" class="menu-button">&nbsp;Home&nbsp;</a> <a
				href="credits.html" class="menu-button">&nbsp;Credits&nbsp;</a> <a
				href="impressum.html" class="menu-button">&nbsp;Impressum&nbsp;</a>
		</div>
</body>
</html>