@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/index.js"></script>
<style>
    #{
        display:block;
    }
</style>
<div class="jumbotron">
    <input type="text" name="" value="" class="text"/>
    <input type="button" name="API" value="getAPI" class="button"/>
    <p class="lable"></p>
</div>