:root { 
	--text-color: #00ff00;
}

h1 {
	font-family: Impact, Charcoal, sans-serif;
	color: white;
	font-size: 50px;
	text-shadow: 0 10px 40px black;
}

h2 {
	font-family: Impact, Charcoal, sans-serif;
	color: white;
	font-size: 30px;
	text-shadow: 0 2px 30px black;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	color: var(--text-color);
	font-size: 20px;
	text-shadow: 0 0 10px white;
}

li:hover {
	text-shadow: 0 0 10px black;
/* 	font-size: 26px; */
}

a[href^="mailto"] {
	color: var(--text-color);
	text-decoration: none !important;
/* 	font-family: Impact, Charcoal, sans-serif; */
}

.menu-bar {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0%;
	right: 0%;
	outline: 2px dashed grey;
	background-image: url("img/pattern2.png");
}

.menu-button {
	color: grey;
	font-size: 20px;
	text-decoration: none;
}

.menu-button:hover {
	background-color: white;
	color: black;
	arging: 10px;
}

.Action-div {
	color: red;
	width: 300px;
}

.Action-button {
	color: red;
	background-color: Transparent;
	outline: none;
	border: 4px solid transparent;
	border-radius: 20px 0px 20px 0px;
}

.Action-button:hover {
	border: 4px dotted;
}

.Genre2-div {
	color: blue;
	width: 300px;
}

.Genre2-button {
	color: blue;
	background-color: Transparent;
	outline: none;
	border-radius: 20px 0px 20px 0px;
}

.Genre2-button:hover {
	border: 4px dotted;
}

body {
	background-image: url("img/pattern1.png");
	background-repeat: repeat;
	margin: 0;
	margin-bottom: 3%;
}

.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: center;
	align-content: center;
	width: 100%;
}